.dw-cont {
    padding-top: 40px;
}

.dw-title{
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.dw-btn, .dw-center{
    display: flex; 
    justify-content: center;
}

.p8{
    padding: 8px;
}

.mt24{
    margin-top: 24px;
}
