
.main-title{
    font-size: 36px;
    text-align: center;
    padding: 40px 0px 24px 0px;
}

.main-btn{
    text-align: center;
    font-size: 20px;
    padding: 8px 0px;
    text-transform: uppercase;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}