
//import the scss file
@import "./mainPage";
@import "./uploader";
@import "./downloader";
@import "./tabs";

//comon css
.idare-cont{
    padding: 0px;
}

.back-btn {
    font-size: 24px;
    text-transform: capitalize;
    cursor: pointer;
    position: fixed;
    background: white;
    width: 100%;
    top: 0;
    left: 0;
    padding: 8px;
}

.filled-btn{
    background: rgba(0,0,0,.47);
    width: 140px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px;
    cursor: pointer;
}

.filled-btn:active {
    background: rgba(0,0,0,.07);
}
