.up-cont{
    display: flex;
    justify-content: center;
    padding-top: 64px;
}

.up-label{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 16px;
}

.file-inp{
    width: 174px;
    margin: 0px 16px;
}

@media (max-width: 680px) {
    .up-cont{
        flex-direction: column;
    }
    .padding-16{
        padding: 16px;
    }
    .text-align-center{
        text-align: center;
    }
  }